<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express File Manager</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        <div class="nav">
            <a href="/upload">Upload</a>
            <a href="/filemanager">File Manager</a>
            <a href="/info?id=0">Info</a>
        </div>
        <div class="content">
            {{{body}}}
        </div>
    </div>
</body>

</html>