<div class="sidebar">
    <h1>Multiupload</h1>
</div>
<div class="upload">
    <form class="uploadform" enctype="multipart/form-data" action="/uploadFiles" method="POST">
        <input type="file" name="fileupload" required multiple>
        <input class="inputupload" type="submit" value="Upload">
    </form>
</div>